@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
	.calculator {
		width: min(50rem, 100%);
	}
}

@media (max-width: 768px) {
	.calculator,
	.calculator__main {
		width: min(25rem, 80vw);
	}

	.btn--history {
		display: inline-block;
	}

	.calculator__sidebar {
		display: none;
	}
}

@media (max-width: 480px) {
	.calculator__memory {
		padding: var(--space-2);
	}
}
